.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-small .spinner {
  width: 20px;
  height: 20px;
}

.loader-medium .spinner {
  width: 40px;
  height: 40px;
}

.loader-large .spinner {
  width: 60px;
  height: 60px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}